<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="AppsSection" type="AlwaysRunning.AppInfoConfigurationSection, AlwaysRunning"/>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <add key="SecondsInBetweenIsAliveCheck" value="60" />
  </appSettings>
  <AppsSection>
    <Apps>
      <add Path="PATH" WorkSpace="WORKSPACE" />
    </Apps>
  </AppsSection>
</configuration>
